<div class="topbar">
  <span class="topbar__address">Showroom · {{ site.showroom.address1 }}, Ardmore PA</span>
  <div class="topbar__right">
    <a href="{{ site.phoneHref }}">{{ site.phone }}</a>
    <span class="topbar__hours">{{ site.topbarNote }}</span>
  </div>
</div>
